.button {
  height: 1em;
  width: 1em;
  border-radius: 3px;
  background-color: black;
}

.button-home {
  clip-path: circle();
  /* border: .1em solid #f1f1f1; */
}

.button-back {
  clip-path: polygon(15% 45%, 15% 55%, 100% 100%, 100% 0);
}


.button-overview {
  border: .05em solid #f1f1f1;
}